{% extends 'shop/base.html' %}
{% block title %} About Us {% endblock %}
{% block body %}
  	{% load static %}
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h2>FREQUENTLY ASKED QUESTIONS (FAQS)</h2>
                <h6><strong>What is Shop.in?</strong></h6>
                <p>Shop.in is the leading e-commerce marketplace in India with over 100 million registered customers. Shop.in was started in 2007 by Sonny, two engineers from Chandigarh who met during their final year project at IIT-Delhi. The duo started Shop.in out of a modest 2-bedroom apartment-turned-office in Bengaluru. Shop.in acquired its first customer in 2008, and hired its first full-time employee in 2009.</p>

                <h6><strong>What is Shop.in Stories?</strong></h6>
                <p>The story of Shop.in is an inspiring one not just for startups in India, but for the e-commerce industry globally. While print and digital media have been exuberant in their coverage of the Shop.in story, there are deeper layers to the Shop.in story that only we at Shop.in know. As Shop.in’s proactive storytelling platform, Shop.in Stories unboxes these stories every week. Shop.in Stories has been written about in Mint and Afaqs. At the Fulcrum Awards 2017, one of India’s most prestigious PR awards, Shop.in Stories was awarded silver for ‘Best Use of Content’.</p>

                <h6><strong>How do I reach Shop.in Customer Care?</strong></h6>
                <p>Shop.in Customer Care can be reached at the number XXXXXXXXXX
                    If you are reaching out regarding your recent order, we request that you use the Customer Support option within the Shop.in app, the Shop.in desktop site or the Shop.in mobile site.</p>

                <h3>QUESTIONS ABOUT Shop.in PRODUCTS AND SERVICES</h3>

                <h6><strong>What does the badge Shop.in Assured mean?</strong></h6>
                <p>Shop.in Assured, is a quality and speed badge applied to select products in key categories. It is the new benchmark in online shopping. Shop.in Assured, India’s first ‘Quality and Speed Assurance’ program, guarantees that high quality products are delivered to customers in the fastest time possible. Read this article on Shop.in Stories to learn more about Shop.in Assured and its benefits.</p>

                <h6><strong>Where I can find the best buying guides for different product categories on Shop.in?</strong></h6>
                <p>Shop.in, India’s leading e-commerce marketplace, has many products available for customers to purchase. But reading reviews and noting the product rating alone cannot lead a customer to take an informed decision while purchasing the product. To put these worries to rest, Shop.in Stories publishes buying guides for products in various categories so that customers can read intensively about various products and shop smart on Shop.in.</p>

                <h6><strong>How can I initiate product return on Shop.in?</strong></h6>
                <p>Read this Shop.in Stories article to know more about how customers can initiate the product return process on Shop.in.</p>

                <h6><strong>How can I avail of Debit Card EMI on Shop.in?</strong></h6>
                <p>Debit Card EMI payment option makes shopping for high value products convenient and affordable. Read this Shop.in Stories article to know more.</p>

                <h6><strong>How can I exchange my old mobile phone/ smartphone on Shop.in?</strong></h6>
                <p>With Shop.in’s smartphone exchange policy, customers can get the best value on their old phones and incredible deals on brand new smartphones. Read this Shop.in Stories article to know more.</p>

                <h6><strong>How can I use the PhonePe app?</strong></h6>
                <p>PhonePe is one of India’s leading UPI payment apps. You can download the PhonePe app on Google Play Store (Android users) or the Apple App Store (iOS users). Read this Shop.in Stories article to know how you can use the app.</p>

                <h6><strong>Does Shop.in sell fake/ duplicate/ counterfeit products?</strong></h6>
                <p>No, Shop.in definitely does not sell fake products and we constantly endeavor to educate our customers to stay clear of fake sellers and products.. To know more, please read this article.</p>

                <h6><strong>How can I identify fraudsters offering fake jobs at Shop.in?</strong></h6>
                <p>Don’t fall prey to fake job offers at Shop.in. Read this Shop.in Stories article to know how to avoid fraudsters offering fake jobs.</p>

                <h6><strong>What is Shop.in’s exchange policy?</strong></h6>
                <p>at if the product you just purchased on Shop.in isn’t exactly what you were looking for? No worries. Just exchange it for the product of your dreams. Read this Shop.in Stories article to know how.</p>

                <h6><strong>How can I keep track of my ekart courier?</strong></h6>
                <p>eKart Courier was a service offered by Shop.in. It is no longer available. Read this Shop.in Stories article to know how to keep track of any product you’ve ordered on Shop.in.</p>

                <h6><strong>If there is a sale on Shop.in, where can I get to know about it first?</strong></h6>
                <p>Here’s how you can be aware of any sales on products on Shop.in:<br>
                If you are a registered customer, you will receive an alert via your registered e-mail ID.
                There will be sale announcements on the Shop.in website, Shop.in mobile site & Shop.in mobile app.
                Look out for social media updates from Shop.in & Shop.in Stories to know about ongoing and upcoming sales.
                You can also search for Shop.in on Google and click on the first link to see the ‘Deals of the Day’</p>

                <h6><strong>What is FurniSure?</strong></h6>
                <p>FurniSure is Shop.in’s very own furniture store and shopping experience that helps you shop with confidence. If you’re looking for quality and durability when you invest in furniture, FurniSure is the best choice.</p>

                <h6><strong>Where can I find news on Shop.in?</strong></h6>
                <p>Shop.in Stories publishes a weekly news bulletin to keep our customers updated about any important development. You can subscribe to it here.</p>

                <h3>CUSTOMER SUPPORT</h3>

                <h6><strong>What is Shop.in’s customer care number in my city?</strong></h6>
                <p>Wherever you reside in India, the Shop.in customer support phone number is easily accessible to you. Reach out to Shop.in Customer Care toll free at XXXXXXXXXX</p>

                <h6><strong>Once I get in touch with Customer Support, how long will it take for my problem to be resolved?</strong></h6>
                <p>As soon as a customer reaches out to Shop.in Customer Care, our executives take it up as a priority to resolve issues promptly. Read this Shop.in Stories article to know more about how our Customer Care executives strive to fulfill the ‘Customer First’ promise.</p>

            </div>
        </div>
    </div>
{% endblock %}
