{% extends 'shop/base.html' %}
{% block title %} {{product.product_name}} {% endblock %}
<style>

.item-photo{display:flex;justify-content:center;align-items:center;border-right:1px solid #f6f6f6;}
.menu-items{list-style-type:none;font-size:11px;display:inline-flex;margin-bottom:0;margin-top:20px}
.section{width:100%;margin-left:-15px;padding:2px;padding-left:15px;padding-right:15px;background:#f8f9f9}
.title-price{margin-top:30px;margin-bottom:0;color:black}
.title-attr{margin-top:0;margin-bottom:0;color:black;}
.btn-minus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0;}
.btn-plus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0;}
div.section > div {width:100%;display:inline-flex;}
div.section > div > input {margin:0;padding-left:5px;font-size:10px;padding-right:5px;max-width:18%;text-align:center;}
.attr,.attr2{cursor:pointer;margin-right:5px;height:20px;font-size:10px;padding:2px;border:1px solid gray;border-radius:2px;}
.attr.active,.attr2.active{ border:1px solid orange;}

@media (max-width: 426px) {
    .container {margin-top:0px !important;}
    .container > .row{padding:0 !important;}
    .container > .row > .col-xs-12.col-sm-5{
        padding-right:0 ;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > p{
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > ul{
        padding-left:10px !important;

    }
    .section{width:104%;}
    .menu-items{padding-left:0;}
}
</style>
{% block body %}
    <div class="container mt-4">
        <div class="row">
               <div class="col-md-4 mb-5 item-photo">
                    <img src="/media/{{product.image}}" width="340" height="420"/>
                </div>
                <div class="col-md-8">
                    <h3><strong>{{product.product_name}}</strong></h3>
                    <h2 class="title-price"><small>Price</small></h2>
                    <h3><strong>{{product.price}}</strong></h3>
                    <div class="section" style="padding-bottom:20px;">
                        <h3 class="title-attr"><small>Quantity</small></h3>
                        <div>
                            <div class="btn-minus"><i class="fa fa-minus" aria-hidden="true"></i></div>
                            <input value="1" />
                            <div class="btn-plus"><i class="fa fa-plus" aria-hidden="true"></i></div>
                        </div>
                    </div>

                    <div class="section" style="padding-bottom:20px;">
                        <button id="pr{{i.id}}" class="btn btn-secondary cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                        <h6><a href="#"><i class="fa fa-heart-o" aria-hidden="true" style="cursor:pointer;"></i> Add To Wish List</a></h6>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
